// @import url("../css/root.css");
// for Realme6     browserHeight =218 
@media screen and (min-height: 210px) and(max-width: 800px) {
     :root {
        --cell-commonlineheight: 22px;
    }
}

// Alex mobile ???   browserHeight =238 
@media screen and (min-height: 220px) and(max-width: 800px) {
     :root {
        --cell-commonlineheight: 23px;
    }
}

//for Xiaomi Note 10 Pro   browserHeight =263 
@media screen and (min-height: 260px) and(max-width: 800px) {
     :root {
        --cell-commonlineheight: 26px;
    }
}

// @media screen and (min-height: 365px) {
//      :root {
//         --cell-commonlineheight: 28px;
//     }
// }
@media screen and (min-height: 365px) {
     :root {
        --cell-commonlineheight: 28px;
    }
}

@media screen and (min-height: 400px) {
     :root {
        --cell-commonlineheight: 32px; //32px;
    }
}

@media screen and (min-height: 435px) {
     :root {
        --cell-commonlineheight: 36px;
    }
}

@media screen and (min-height: 450px) and (min-width:350px) {
     :root {
        --cell-commonlineheight: 20px;
    }
}

@media screen and (min-height: 550px) and (min-width:370px) {
     :root {
        --cell-commonlineheight: 26px;
    }
}

@media screen and (min-height: 590px) and (min-width:370px) {
     :root {
        --cell-commonlineheight: 28px;
    }
}

@media screen and (min-height: 700px) and (min-width:370px) {
     :root {
        --cell-commonlineheight: 32px;
    }
}

@media screen and (min-height: 900px) and (min-width:370px) {
     :root {
        --cell-commonlineheight: 40px;
    }
}

// @media screen and (min-height: 550px) {
//     // Mobile Vertical Orientation
//     // .container {
//     //     --fontsize: 50px;
//     // }
//      :root {
//         --cell-commonlineheight: 50px;
//     }
// }
.myroot {
    --common-background: linear-gradient(rgb(22, 19, 31), rgb(42, 35, 47));
    --cell-normalbackground: white;
    --cell-alarmbackground: rgb(240, 70, 30);
    //
    --cell-alarmcolor: red;
    --cell-normalcolor: green;
}

html,
body {
    /* text-align: center; */
    /* background: rgb(14, 14, 20); */
    /* background: rgb(255, 255, 255); */
    /* background: rgb(55, 49, 65); */
    /* background: linear-gradient(rgb(55, 45, 63), rgb(27, 12, 63)); */
    // background:        linear-gradient(rgb(22, 19, 31), rgb(42, 35, 47));
    background: var(--common-background);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(194, 188, 188);
    // height: 100%;
    font: 12px/1.2 "Helvetica Neue", Arial, Helvetica, sans-serif;
    // font: 16px/14px Tahoma, Verdana, sans-serif;
}

.paramcont {
    // background: red;
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    // div {
    // background: var(--tbl-background1);
    // }
}

// .paramlabel {
//     font-size: 17px;
//     line-height: 30px;
//     padding-left: 8px;
//     bottom: 0px;
//     width: 220px;
//     height: 30px;
//     padding-top: 4px;
//     // padding-top: 10%;
// }
.aln1 {
    /* text-align: left; */
    /* background: rgb(53, 49, 49); */
    /* color: darkorange; */
    /* width: 95vw; */
    position: relative;
    /* margin-left: 1vw; */
    /* margin-right: 1vw; */
    /* font-size: 46px; */
}

.h-table {
    // visibility: hidden;
    // background: rgb(41, 40, 47);
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    min-height: 26px;
    width: 100%;
}

.header {
    font-size: 16px;
    line-height: 22px;
    height: 22px;
    // font-weight: 700;
    color: rgb(223, 210, 185);
    text-align: center;
    margin-top: 5px;
    padding: 1px;
}

.row {
    // background: green;
    // color: rgb(204, 59, 7);
    // color: rgb(213, 243, 81);
    color: rgb(8, 220, 223);
    // min-height: 30px;
    display: grid;
    // grid-column-gap: var( --spacing-hor);
    // grid-column-gap: var( --grid-spacing-horizontal);
    grid-row-gap: var(--grid-spacing-vertical); // не работает, т.к. строка одна!
    // flex-direction: row;
    // grid-template-columns: 1.5fr repeat(auto-fill, 200px) 400px;
    // min-width: 80%;
    // width: 50%;
    // .gridsquare {
    //     text-align: center;
    // }
    // text-align: center;
}

.row .gridsquare {
    font-size: 16px;
    line-height: var(--cell-commonlineheight);
}

.tmpgridsquare {
    // --ddd: 50px;
    // background: cadetblue;
    font-size: 16px;
    // line-height: var(--ddd); //           50px;
    // line-height: var($--ddd);
    line-height: var(--cell-commonlineheight);
    // line-height: var($ddd);
    // height: 50px;
    // color: greenyellow;
    color: var(--cell-headcolor);
    // background: hotpink;
    min-width: var(--cell-minwidth);
    // width: var(--cell-width);
    white-space: nowrap;
    text-align: var(--cell-textalign);
    // border:            var(--cell-border);
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

// tbl.cell(i, col).style.color = 'black';
// tbl.cell(i, col).style.fontWeight = '700';
// tbl.cell(i, col).style.fontSize = '18px';
.tmpdatacell {
    @extend .tmpgridsquare;
    // background: blue;
    color: var(--cell-datacolor);
    font-weight: 700;
    font-size: 18px;
    // border-radius: 0px 8px 0px 8px;
    border-radius: 0px 0px 0px 0px;
}

.acontainer {
    // background: red;
    display: block;
    /* justify-content: left; */
    /* justify-content: space-between; */
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: -6px;
    div {
        // height: 30px;
        background: 'red';
        // padding-top: '20px';
        // var(--vertical-spacing);
        color: rgba(8, 253, 253, 0.822);
        padding-left: 3px;
        min-width: 20px;
        font-size: 20px;
        /* background: crimson; */
    }
}

.mysel {
    /* height: 15px; */
    // text-align: right;
    padding-right: 30px;
    margin: 0px;
    // padding: 1px;
    padding-left: 5px;
    font-size: 18px;
    line-height: 30px;
    height: 30px;
    color: gainsboro;
    // border-color: black;
    background-color: var(--tbl-background1); //                    rgb(48, 46, 56);
    // border: 1px solid white;
    // border: none;
}

.mysel:hover {
    background: rgba(132, 132, 165, 0.459);
    color: whitesmoke;
}

// .mysel:
// .mysel:focus {
//     background: rgb(106, 151, 106);
//     border: 1px solid blue;
// }
// .mysel:active {
//     background: rgb(240, 66, 50);
// }
.seloption {
    background: rgba(69, 85, 68, 0.479);
    color: rgb(0, 12, 4);
}

// animation-direction:alternate;